@import "base/mixin";
@import "modules/color-template";

.service {
  @include section-container;

  &__title {
    @include basicTitleStyle;
    font-size: 2rem;
  }

  &__subtitle {
    @include basicTitleStyle;
    font-size: 1.5rem;
  }

  &__title-text {
    @include basicTitleStyle;
  }

  &__list {
    display: flex;
    flex-flow: column;
    padding-inline-start: 0;
  }

  &__box-title {
    position: absolute;
    display: inline-block;
    top: -14px;
    left: 10px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: $basicMainTitle;
    background-color: $basicBody;
  }

  &__item {
    position: relative;
    margin: 3rem 0;
    padding: 0.5rem 1rem;
    border: solid 3px $basicMainTitle;
    border-radius: 8px;
  }

  &__item-title {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
  }

  &__item-text {
    font-size: 1.2rem;
  }
}

.add-border {
  & > .service__item-title {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      border-bottom: solid 2px orange;
      animation: border-animation 1s linear forwards;
    }
  }
}

@keyframes border-animation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
