<div class="mobile-menu-cover"></div>

<div class="header">
  <button class="mobile-menu__btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>

<nav class="mobile-menu">
</nav>