<section class="main-visual">
  <div class="cover-slide inview">
    <span class="main-title">RAKUSHIF</span>
    <img class="img-zoom" src="/work.jpeg">
  </div>
  <div class="btn-links">
    <%= link_to "ユーザー登録", new_user_path, class:"btn-links__sign-up" %>
    <%= link_to "ログイン", login_path, class:"btn-links__sign-in" %>
  </div>
</section>

<section class="service">
  <h1 class="service__title">
    <span class="service__title-text">シフトの作成/管理が</span>
    <span class="service__title-text">これひとつでカンタンに</span>
  </h1>

  <p class="service__text">RAKUSHIFは、シフト表の作成はもちろん、スタッフとのやりとりや細やかな調整業務もラクになるシフト管理サービスです。さらにスタッフはいつでもどこでもシフトの提出・確認が出来、スタッフにも喜ばれます。</p>

  <h2 class="service__subtitle">
    <span class="service__title-text">RAKUSHIFには</span>
    <span class="service__title-text">こんなメリットがあります</span>
  </h2>

  <ul class="service__list">
    <li class="service__item">
      <span class="service__box-title">ポイント1</span>
      <p class="service__item-title">店長はもちろん、スタッフも嬉しい</p>
      <p class="service__item-text">スタッフはわざわざ店舗に行かなくても、いつでもどこでもシフトの提出・確認が可能になるので余計な手間やストレスがなくなります。</p>
    </li>
    <li class="service__item">
      <span class="service__box-title">ポイント2</span>
      <p class="service__item-title">シフト作成の作業時間を大幅削減</p>
      <p class="service__item-text">シフト作成業務が手書き作業からクリック作業に変わり、また希望状況をひと目で把握出来るため、作業時間削減に繋がります。</p>
    </li>
    <li class="service__item">
      <span class="service__box-title">ポイント3</span>
      <p class="service__item-title">スタッフの不在/不足がひと目でわかる</p>
      <p class="service__item-text">必要な人数をあらかじめ設定するだけで、不足や過剰のある箇所を知らせてくれるアラート機能付き。活用して追加募集と人員削減を行うことで人件費を効率よくコントロール出来ます</p>
    </li>
  </ul>
</section>

<section class="flow">
  <h2 class="flow__title">ご利用の流れ</h2>
  <ul class="flow__list">
    <li class="flow__item">
      <p class="flow__item-title">ユーザー登録</p>
      <span class="flow__item-text">登録項目が少なく</span>
      <span class="flow__item-text">簡単に始められます</span>
      <%= link_to  new_user_path, class:"flow__signup-btn" do %>
        早速ユーザー<br>登録開始
      <% end %>
    </li>
    <li class="flow__item">
      <p class="flow__item-title">利用開始</p>
      <span class="flow__item-text">シンプルでわかりやすい</span>
      <span class="flow__item-text">まずは体験しましょう</span>
      <%= link_to login_path, class:"flow__signin-btn" do %>
        アカウントをお持ちの方は<br>コチラから
      <% end %>
    </li>
  </ul>
</section>