  <section class="main-visual">
    <div class="cover-slide inview">
      <span class="main-title">RAKUSHIF</span>
      <img class="img-zoom" src="/work.jpeg">
    </div>
    <div class="btn-links">
      <button class="btn-links__sign-up">ユーザー登録</button>
      <button class="btn-links__sign-in">ログイン</button>
    </div>
  </section>
  <section class="service">
  <h2 class="service__title">シフトの作成/管理をこれひとつでカンタンに</h2>
  <p class="service__text">RAKUSHIFは、シフト表の作成はもちろん、スタッフとのやりとりや細やかな調整業務もラクになるシフト管理サービスです。さらにスタッフはいつでもどこでもシフトの提出・確認が出来、スタッフにも喜ばれます。</p>
  <ul class="service__list">
    <li class="service__item">
      <p class="item-title">店長はもちろん、スタッフも嬉しい</p>
      <p class="item-text">スタッフはわざわざ店舗に行かなくても、いつでもどこでもシフトの提出・確認が可能になるので余計な手間やストレスがなくなります。</p>
    </li>
    <li class="service__item">
      <p class="item-title">シフト作成の作業時間を大幅削減</p>
      <p class="item-text">シフト作成業務が手書き作業からクリック作業に変わり、また希望状況をひと目で把握出来るため、作業時間削減に繋がります。</p>
    </li>
    <li class="service__item">
      <p class="item-title">スタッフの不在/不足がひと目でわかる</p>
      <p class="item_text">必要な人数をあらかじめ設定するだけで、不足や過剰のある箇所を知らせてくれるアラート機能付き。活用して追加募集と人員削減を行うことで人件費を効率よくコントロール出来ます</p>
    </li>
  </ul>
  </section>
  <section class="flow">
    <div class="flow__title"></div>
    <div class="flow__text"></div>
    <ul class="flow__list">
      <li class="flow__item">
        <p class="item-title">ユーザー登録</p>
        <p class="item-text">登録項目が少なく簡単に始められます</p>
      </li>
      <li class="flow__item">
        <p class="item-title">利用開始</p>
        <p class="item-text">シンプルでわかりやすいレイアウト<br>まずは全ての機能を体験しましょう</p>
      </li>
    </ul>
    <div class="btn-links">
      <button class="btn-links__sign-up">ユーザー登録</button>
      <button class="btn-links__sign-in">ログイン</button>
    </div>
  </section>
  <section class="news">
  <h3 class="news__title"></h3>
  <ul class="news__list">
    <li class="news__item">
      <p>ニュース1</p>
      <p>ニュース1の内容</p>
    </li>
  </ul>
  </section>