@import "base/mixin";

.btn-links {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  border-radius: 10px;
  margin: 20px 0;
  &__sign-up {
    @include basic-btn;
    background-color: #5ccbe4;
  }
  &__sign-in {
    @include basic-btn;
    background-color: rgb(255, 217, 66);
  }
}
