$standardIconColor: #aaa;

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  background-color: black;
}

.header a {
  color: gray;
}

.mobile-menu-cover {
  align-self: start;
}

.mobile-menu {
  &__btn {
    margin-right: 10px;
    background-color: unset;
    border: none;
    outline: none !important;
    cursor: pointer;

    & > span {
      display: block;
      width: 80px;
      height: 6px;
      margin-bottom: 20px;
      background-color: $standardIconColor;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 767px) {
}
