<nav class="mobile-menu">
  <ul class="mobile-menu__list">
    <li class="mobile-menu__item">
      <a href="">
        <span class="menu-maintitle">Our Service</span>
        <span class="menu-subtitle">サービス概要</span>
      </a>
    </li>
    <li class="mobile-menu__item">
      <a href="">
        <span class="menu-maintitle">Contact Us</span>
        <span class="menu-subtitle">問い合わせ先</span>
      </a>
    </li>
    <li class="mobile-menu__item user-status">
      <a href="">
        <span class="menu-maintitle users-account-link">アカウント情報</span>
      </a>
    </li>
        <li class="mobile-menu__item user-status">
      <a href="">
        <span class="menu-maintitle signin-link">ログイン</span>
      </a>
    </li>
  </ul>
</nav>